body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}
#app-container {
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media all and (max-width: 768px) {
  #app-container {
    font-size: 14px;
  }
}
@media all and (max-width: 425px) {
  #app-container {
    font-size: 12px;
  }
}
@media all and (max-width: 320px) {
  #app-container {
    font-size: 12px;
  }
}
.app-view {
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
}
.btn {
  padding: 10px;
  background-color: #58FA82;
  border-radius: 3px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  width: 70px;
  box-sizing: border-box;
}
.btn:hover {
  opacity: 0.7;
}
input {
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
  border: none;
}
.nav-panel {
  border: 1px solid #AAA;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  align-content: space-around;
  background-color: #CEF6E3;
  padding: 20px;
  border-radius: 3px;
  border: none;
  background-color: #FFF;
  padding: 0;
}
@media all and (max-width: 768px) {
  .nav-panel {
    font-size: 14px;
    margin: 5px;
    padding: 5px;
  }
}
@media all and (max-width: 425px) {
  .nav-panel {
    font-size: 12px;
    margin: 5px;
    padding: 5px;
  }
}
@media all and (max-width: 320px) {
  .nav-panel {
    font-size: 12px;
    margin: 5px;
    padding: 5px;
  }
}
#nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  box-sizing: border-box;
  list-style: none;
  align-items: center;
  width: 100%;
  padding-left: 0;
}
#nav li {
  background-color: #58FA82;
  border-radius: 3px;
  margin: 10px;
  flex-basis: 9rem;
}
#nav a {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 5px 20px;
}
#nav li:hover {
  opacity: 0.7;
}
.panel {
  border: 1px solid #AAA;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  align-content: space-around;
  background-color: #CEF6E3;
  padding: 20px;
  border-radius: 3px;
}
@media all and (max-width: 768px) {
  .panel {
    font-size: 14px;
    margin: 5px;
    padding: 5px;
  }
}
@media all and (max-width: 425px) {
  .panel {
    font-size: 12px;
    margin: 5px;
    padding: 5px;
  }
}
@media all and (max-width: 320px) {
  .panel {
    font-size: 12px;
    margin: 5px;
    padding: 5px;
  }
}
.gallery-links {
  border: 1px solid #AAA;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  align-content: space-around;
  background-color: #CEF6E3;
  padding: 20px;
  border-radius: 3px;
  list-style: none;
  text-decoration: none;
  box-shadow: border-box;
  flex-direction: column;
  display: block;
}
@media all and (max-width: 768px) {
  .gallery-links {
    font-size: 14px;
    margin: 5px;
    padding: 5px;
  }
}
@media all and (max-width: 425px) {
  .gallery-links {
    font-size: 12px;
    margin: 5px;
    padding: 5px;
  }
}
@media all and (max-width: 320px) {
  .gallery-links {
    font-size: 12px;
    margin: 5px;
    padding: 5px;
  }
}
.gallery-links li {
  padding: 10px;
  background-color: #CEF6E3;
  list-style: none;
}
.gallery-links li:hover {
  background-color: #58FA82;
}
.gallery-links li:active {
  background-color: #444;
}
.gallery-links a {
  display: block;
  text-decoration: none;
  text-decoration-style: none;
}
.gallery-links a {
  padding: 10px;
}
.gallery-item {
  width: 220px;
  height: 300px;
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.gallery-item img {
  width: 200px;
  height: 100px;
}
.gallery-item ul {
  list-style: none;
  padding-left: 0px;
}
.list {
  list-style: none;
  text-decoration: none;
  box-shadow: border-box;
}
.list li {
  padding: 10px;
  background-color: #CEF6E3;
  list-style: none;
}
.list li:hover {
  background-color: #58FA82;
}
.list li:active {
  background-color: #444;
}
.list a {
  display: block;
  text-decoration: none;
  text-decoration-style: none;
}
.webcam-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: space-around;
}
.webcam-container .webcam-item {
  margin: 10px;
  background-color: black;
  width: 220px;
  padding: 10px;
  box-sizing: border-box;
}
.webcam-container .webcam-item .btn-container {
  display: flex;
  width: 200px;
  justify-content: center;
  align-content: space-around;
}
.webcam-container .webcam-item .btn {
  margin: 5px;
}
.webcam-container .webcam-item img {
  width: 200px;
  height: 120px;
  margin: auto;
}
@media all and (max-width: 768px) {
  #app-container {
    padding: 5px;
  }
  .app-view {
    width: 99%;
  }
  .panel {
    width: 96%;
  }
  .btn {
    padding: 5px;
  }
  .webcam-container {
    justify-content: center;
  }
}
@media all and (max-width: 425px) {
  #app-container {
    padding: 5px;
  }
  .app-view {
    width: 99%;
  }
  .panel {
    width: 90%;
  }
  .btn {
    padding: 5px;
  }
  .webcam-container {
    justify-content: center;
  }
}
@media all and (max-width: 320px) {
  #app-container {
    padding: 5px;
  }
  .app-view {
    width: 99%;
  }
  .panel {
    width: 90%;
  }
  .btn {
    padding: 5px;
  }
  .webcam-container {
    justify-content: center;
  }
}
