body{
    background-color: turquoise;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}

/*  nav  */
#menu {
    width:400px;
    /* margin:0 auto; */
    padding:0;
    list-style-type:none;
}
#menu:after {
    content:'';
    display:block;
    clear:both;
}
#menu > li {
    float:left;
}
#menu > li:first-child {
    width:33%;
}
#menu > li:first-child + li {
    width:33%;
}
#menu > li:first-child + li + li {
    width:33%;
}
#menu > li > a {
    display:block;
    padding:10px;
    text-decoration:none;
    text-align:center;
    color:#FFFFFF;
    background-color:#AAAADD;
}
#menu > li:hover > a {
    opacity: 0.7;
}

/*  place finder  */
input {
    padding: 5px;
}

button {
    padding: 5px;
}

.finder-input {
    margin: 5px;
}

.webcam-container {
    width: 160px;
    height: 80px;
}

.webcam-img { 
    width: 100%;
}

/*  list  */

.list-item {
    list-style: none;
    padding: 5px;
}

/*  gallery  */

.gallery-item {
    list-style: none;
    margin: 10px;
    width: 80%;
    background-color:#AAAADD;
    display: block;
    padding: 10px;
}

.gallery-item .webcam{
    display: inline-block;
    width: 200px;
    height: 100px;
    padding: 10px;
}

.gallery-item .info {
    display: inline-block;
    padding: 10px;
}