<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h3>Scanner is a tool which lets you search for webcams all around the world.</h3>
        <div class="alert alert-success">
            <p>Write the country name (eg. Poland, France) and select from list.</p>
            <div class="input-group">
                <div id="autocomplete" class="input-group"></div>
            </div>
        </div>
        <div class="alert alert-success">
            <h5>Or choose any tag from list and wait: </h5>
            <div class="btn-group btn-group-sm" role="group" aria-label="tags">
                <% _.each(tags, function(name) { %>
                    <a href="#/scanner/tag/:<%= name %>">
                    <button class="btn btn-default tagName"><%= name %></button>
                </a>
                    <% }); %>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-success">
    <h5>You can also quickly find webcams in range of 200km from your current localisation. Just press the button below.</h5>

    <a href="#/scanner/near/:<%= position %>">
        <button type="button" class="btn btn-info findMe">
            <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span> Find near me
        </button>
    </a>
</div>

<div class="alert alert-success">
    <h5>For any localistaion just paste latitude and longitude, eg. '24.546648,-81.798183'</h5>
    <form>
        <div class="input-group">
            <input class="form-control" name="searchPosition" type="text" placeholder="paste position" />
        </div>
        </br>
        <button type="submit" class="btn btn-info searchPosition"> Search</button>
    </form>
</div>

<div class="panel panel-info">
    <div class="panel-heading">Here you can see available webcams. (There are
        <%= size %> webcams.)</div>
    <div class="panel-body" id="webcam-collection">
        No webcams yet...
    </div>
</div>